__pycache__
output/*/
data/
logs_resulthesis/
logs_newest/
logs_phase1/
logs_*/
logs/
logs2/
logs_old/
logs_old2/
logs_thesisresult/
logs_resnet/
old_logs_nfft2048/
lightning_logs/
preprocessed_data
*.zip
data/TB_resample/
test.ipynb
*.sif
*.csv
*.png
*.npy
*.onnx
*.pth
*.pkl
*.pickle