__pycache__
output/*/
data/
logs/
logs_*/
baklogs_*/
lightning_logs/
preprocessed_data
precomputed_features
pretrained/
*.zip
data/TB_resample/
test.ipynb
*.sif
*.csv
*.png
*.npy
*.onnx
*.pth
*.pkl
*.pickle
*.ckpt
pretrained/encoder-operaGT.ckpt
precomputed_features_bak